RewriteEngine On
RewriteBase /

                        RewriteRule ^NUc73$ /a/NUc73.php
                        RewriteRule ^LFo93$ /a/LFo93.php
                        RewriteRule ^05ajH$ /a/05ajH.php
                        RewriteRule ^wzGSu$ /a/wzGSu.php
                        RewriteRule ^QRovs$ /a/QRovs.php
                        RewriteRule ^nY9bh$ /a/nY9bh.php
                        RewriteRule ^Lhb94$ /a/Lhb94.php
                        RewriteRule ^0OgYd$ /a/0OgYd.php
                        RewriteRule ^lsO1H$ /a/lsO1H.php
                        RewriteRule ^oTk1j$ /a/oTk1j.php
                        RewriteRule ^kPDhc$ /a/kPDhc.php
                        RewriteRule ^WTcKw$ /a/WTcKw.php
                        RewriteRule ^loLJM$ /a/loLJM.php
                        RewriteRule ^lv9CV$ /a/lv9CV.php
                        RewriteRule ^waleS$ /a/waleS.php